@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --montserrat: "Montserrat", sans-serif;
  --calibri: sans-serif;
}

/* general style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

input {
  border: none;
  outline: none;
  background: transparent;
}

.facilities {
  padding: 80px 20px;
  justify-content: center;
  text-align: center;
}

.wrap-card {
  display: flex;
  gap: 100px;
  margin-top: 52px;


}

.tag {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 50px;


}

h1>span {
  color: rgba(255, 118, 41, 1);
  ;
}
.card{
  width: 266px;
  height: 308px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 180px;
  margin-top: 40px;
}
.card img {
  width: 105px;
  height: 105px;
  background-color: rgba(255, 118, 41, 1);
  border-radius: 10px;
  margin-bottom: 44px;

}
.card h5{
  width: 197px;
  height: 70px;
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 20px;
}
.card p{
  width: 266px;
  height: 72px;
  font-size: 24px;
  font-weight: 400;
}
button{
  width: 260px;
  height: 55px;
  background-color: rgba(255, 118, 41, 1);
  margin-top: 180px;
  color: white;
  font-size: 26px;
  border-radius: 60px;
}
